*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
    text-decoration:none;
    margin: auto 0px;
}
.centen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
background: linear-gradient(180deg, #081B4B 0%, #10001D 100%);
background-repeat: no-repeat;

}
.aaa{
    width: 500px;
    /* height: 500px; */
    /* background-color: #10001D; */
}
.nav{
    float: left;
    width: 100%;
    margin-right: 15px;
    position: fixed;
    z-index: 10;
    background-color: #9ca5ff5c;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 80px;
}
.navi{
    width: 160px;
    height: 50px;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
}
.translate{
    width: 3em;
margin-right: 10px;
}
.translimg{
    width: 1em;
    height: 50px;
    background-image: url(./img/Vector.png);
    background-size:100%;
    background-position: left;
    position: relative;
}
.head{
background-image: url(./img/bg_light.svg);
display: flex;
align-items: center;
justify-content: center;
padding-top: 85px;
}
/* .leftLogo{
    width: 500px;
    height: 12em;
} */
.logo{
    width: 500px;
    background-image: url(img/logo.png);
    display: flex;
align-items: center;
justify-content: center;
background-size: 100%;
}
.oline1{
    width: 221px;
    height: 61px;
}
.oline{
    width: 221px;
    height: 61px;
    background: linear-gradient(to right, rgba(255, 77, 206, 1), rgba(73, 119, 236, 1));
    border-radius: 27px 8px;
    border:solid 1px #fff;
}
.introduction{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction{
    max-width: 1100px;
    padding: 5%;
}
.profile{
    max-width: 1100px;
    display: flex;
    align-items: center;
     justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
}
.bigborder{
   width: 250px;
   height: 375px;
   border:solid 1px #fff;
   border-radius: 10px;
   display: flex;
    align-items: center;
    flex-direction:column ;
    margin: 3px;
    background: linear-gradient(88deg, rgb(255 255 255 / 25%), rgb(255 255 255 / 36%),rgb(255 255 255 / 46%));
}
.img{
    width: 93%;
    height: 246px;
    border-radius: 27px;
    border:solid 1px;
    border-color: rgba(255, 142, 223, 1)
    rgba(75, 126, 255, 1);
    position: relative;
    background-image: url(./img/avatar/nikoi.jpg);
    background-position: center;
    background-size: cover;
}
.border{
    width: 93%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #ffffff0f;
    margin-top: 186px;
    backdrop-filter: blur(6px);
    border-radius: 0px 0px 27px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
   border-top: #fff 1px solid;
}
.site{
    width: 100px;
    height: 50px;
   padding-top: 7px;
}
.url{
    width: 35px;
    height: 35px;
    float: left;
    margin: 7px;
}
.url1{
    background-image: url(./img/icon_social\ media1.png);
}
.url2{
    background-image: url(./img/icon_social\ media2.png);
}

.name{
    color:#fff;
    font-size: 16px;
    text-align: center;
}
.name1{
    color:#fff;
    font-size: 20px;
    text-align: center;
}
.BigPro{
    background-color: #fff;
    display: block;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 2683px;
    transform: translate(-50%, -50%);
    touch-action: none;
    /* -webkit-box-shadow: #666 0 0 6px;
    -moz-box-shadow: #666 0 0 6px;
    box-shadow: #fff8e7 0 0 6px 6px; */
    z-index: 996;  /* 此处的图层要大于遮罩图层 */
}
#BigProfile{
    filter: alpha(opacity=70); /* IE的透明度 */
    /* position: absolute;
    top: 0;
    left: 0; */

    z-index: 965; /* 此处的图层要大于页面 */
}
.session{
    max-width: 1500px;
    min-height: 350px;
    width: 90%;
    background: linear-gradient(90deg, 
     rgb(255 255 255 / 0%),
     rgb(255 255 255 / 19%),
     rgb(255 255 255 / 26%),
     rgb(255 255 255 / 19%),
     rgb(255 255 255 / 0%));
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    color: rgb(255, 255, 255);
    margin: 0px auto;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.form{
    width:9em;
    height: 9em;
    background-color: aquamarine;
    margin:15px 0px 15px 0px;
        border-top: #fff 1px solid;
        border-radius:10px;
}
.date{
    /* display: flex; */
    margin:15px 0px 20px 40px;
    width: 59%;
min-width: 335px;
}
.topic{
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight:900;
    font-size: 26px;
    background-image: linear-gradient(82deg,
        rgb(123 144 255), 
        rgb(155 238 255), 
        rgb(226 192 255), 
        rgb(215 154 255));
    -webkit-background-clip: text;
    color: transparent;
}
.title{
    font-size: 13px;
    /* height: 130px; */
    margin-bottom: 20px;
}
.gustname{
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    justify-content:space-between
}
.gustname, h6{
    font-size: 15px;
    /* font-weight:500; */
    color: #87B1FF;
    width: auto;
    margin: 5px;
    
}
.time{
    font-size: 18px;
    font-weight:500;
}

@media screen and (max-width:900px) {
    .topic{
        font-size: 23px;
    }
    .time{
        font-size: 18px;
    }
    .gustname h6{
        font-size: 12px;
    }
}
@media screen and (max-width:700px) {
    .navi{
        font-size: 20px;
    }
    .logo{
        /* height: 10em; */
        background-image: url(img/logo.png);
    }
    .date{
        width: 100%;
        margin: 11px 10px 35px 11px;
    }
    .title{
        font-size: 10px;
    }
    .topic{
        font-size: 18px;
    }
    .time{
        font-size: 16px;
    }
    .form {
        width: 8em;
        height: 8em;
    }
}
@media screen and (max-width:650px) {
    .bigborder {
        width: 230px;
        height: 375px;
    }

    .bigborder {
        width: 48%;
        height: 300px;
        margin: 1px;
    }
    .img {
        height: 12.7em;
        border-radius: 20px;
    }
    .name{
        font-size: 12px;

    }
    .name1{
        font-size: 15px;

    }
    .border {
        width: 100%;
        height: 40px;
        margin-top: 169px;
        border-radius: 0px 0px 20px 20px;
    }
    .site {
    width: 100px;
    height: 50px;
    padding-top: 0px;
    }
}
@media screen and (max-width:400px) {
    .nav{
    height: 50px;
    }
    .navi{
        font-size: 12px;
    }
    .head{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    .img {
        height:12.2em;
        border-radius: 15px;
    }
    .border {
        margin-top: 153px;
    }
}